/*
--- 01 TYPOGRAPHY SYSTEM
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Font weights:
Default: 400
- Line heights:
Default: 1
--- 02 COLORS
- Primary: 
- Tints: 
- Shades:
- Accents:
- Greys
--- 05 SHADOWS
--- 06 BORDER-RADIUS
--- 07 WHITESPACE
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 36px;
  color: white;
}

.top-bar {
  background-image: linear-gradient(to right, purple, aqua);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12.8rem;
  padding: 1.2rem 0;
}
